<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en'>
  <head>
    <title>{{page.title}}</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta content='Neocons, an idiomatic, feature rich Clojure client for Neo4J REST API' name='description' />
    <meta content='The ClojureWerkz Team' name='author' />
    <link href='/assets/stylesheets/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/assets/stylesheets/bootstrap-docs.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/assets/stylesheets/pygments.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css' />
    <script src='/assets/javascripts/jquery-1.9.1.min.js' type='text/javascript'></script>
    <script src='/assets/javascripts/bootstrap.min.js'></script>
    <script src='/assets/javascripts/toc.js'></script>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <script type="text/javascript">
      if(!(window.location.hostname === "localhost")) {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31282324-4']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }
    </script>
  </head>
  <body data-spy="scroll" data-target="#side-navigation">

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Neocons</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/articles/guides.html">All guides</a>
            </li>
            <li>
              <a href="http://reference.clojureneo4j.info/">API reference</a>
            </li>
            <li>
              <a href='/articles/community.html'>Community</a>
            </li>
            <li>
              <a href='https://github.com/michaelklishin/neocons'>Code on Github</a>
            </li>
            <li>
              <a href="https://github.com/michaelklishin/neocons/blob/master/ChangeLog.md">Change log</a>
            </li>
            <li>
              <a href='http://clojurewerkz.org'>More Clojure libraries</a>
            </li>
            <li>
              <a href="http://clojurewerkz.org/articles/donate.html">Donate</a>
            </li>
            <li>
              <a href="http://clojure-doc.org">Clojure Docs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class='container'>
      <div class='row'>
        <div class='col-md-3 bs-docs-sidebar' id='side-navigation'>
          <div class="bs-sidebar hidden-print affix-top" role="complementary">
            <ul id="toc" class="nav bs-sidenav"></ul>
          </div>
        </div>
        <div class='col-md-9'>
          {{ content }}
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'neoconsdocs'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>

    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>This website was developed by the
          &nbsp;<a href='http://github.com/clojurewerkz'>ClojureWerkz Team</a>.</p>
        <p>Follow us on Twitter:
          &nbsp;<a href='http://twitter.com/clojurewerkz'>ClojureWerkz</a>,&nbsp;<a href='http://twitter.com/michaelklishin'>Michael Klishin</a>,&nbsp;<a href='http://twitter.com/ifesdjeen'>Alex P</a></p>
      </div>
    </footer>

  </body>
</html>
